<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.poblocki.drawer">

    <uses-permission android:name="INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-library
        android:name="com.google.android.maps"
        android:required="false" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:name=".AirportApplication">
        <activity
            android:name=".AirportActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.AlbumDetailActivity" />

        <receiver
            android:name=".flights.service.FlightsReceiver"
            android:enabled="false"
            android:exported="false" />
        <service
            android:name=".flights.service.FlightsIntentService"
            android:enabled="true"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".details.FlightDetails"
            android:label="@string/title_activity_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".flights.FlightsActivity" />
        </activity>
        <activity android:name=".flights.FlightsActivity"></activity>
    </application>

</manifest>